
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  background-color: #000;
  color: #fff;
}
/* começando meu layout */
.container-header {
  width: 100%;
  float: left;
}

.box-logo {
  width: 50%;
  float: left;
}
  .box-logo img {
    animation: App-logo-spin infinite 20s linear;
    width: 5rem;
  }

.box-menu {
  width: 50%;
  float: left;
}
  .active {
    display: block;
    background-color: red;
  }
  .inactive {
    display: none;
    background-color: blue;
  }