
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#root {
  padding: 0.5rem;
}

/* ################################### HEADER ################################### */
.container-header {
  width: 100%;
  float: left;
}

.box-logo {
  width: 50%;
  float: left;
}
  .box-logo img {
    animation: App-logo-spin infinite 20s linear;
    width: 5rem;
  }

.box-menu {
  width: 50%;
  float: left;
}
  .active {
    display: block;
    background-color: red;
  }
  .inactive {
    display: none;
    background-color: blue;
  }


/* ################################### USER ################################### */
.container-content {
  float: left;
  width: 100%;
}
  .container-content .container-user {
    background-color: #f4f4f7;
    border-radius: 0.3rem;
    margin: auto;
    padding: 0.5rem;
    width: 40%;
  }
  .container-content .container-user .img-user {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }